/*
==========================
Header
==========================
*/
.header{
	text-align: center;
     background: #06b527;
}
.header h1{
	
	font-size: 50px;
	
}
nav,a{
	padding: 5px 20px;
	text-decoration: none;
}
img{
	width: 1500px;
	height: 300px;
}
/*
===========================
Footer
===========================
*/
.footer{
	text-align: center;
	background: #1f6b09;
}
.footer small{
	font-size: 20px;
}
/*
=========================
Intro
=========================
*/
.intro{
	box-sizing: border-box;
	border: 1px solid black;
	margin: 10px;
	background: #d8d7d7;
}
.intro h2{
	background: #1f6b09;
	font-size: 35px;
	padding: 5px 20px;

}
p{
	font-size: 20px;
	line-height: 20px;
	padding: 5px 20px;
	line-height: 27px;

}
h2{

	padding: 20px;
}